h1 {
  color: green;
  font-style: italic;
}

h3 {
  color: blue;
  font-style: italic;
}
h4 {
  color: #000000;
  font-family: Arial;
  font-size: 8pt;
  font-style: italic;
}

.blog {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.ok {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}